[Unit]
Description=Send a notification when g930 headset battery is low

[Timer]
OnStartupSec=1m
OnUnitActiveSec=1m

[Install]
WantedBy=timers.target
